In [1]:
import requests
import json

In [2]:
##Prepares the data from the API to be stored in database. JSON ---> Python lists
#Exchanges

url = "https://coinpaprika1.p.rapidapi.com/exchanges"

headers = {
    'x-rapidapi-host': "coinpaprika1.p.rapidapi.com",
    'x-rapidapi-key': "5a962397c6mshe16c836bbeb665ap10f010jsn9acd3c2af9da"
    }

exchange_data = requests.request("GET", url, headers=headers)


exchange_json = exchange_data.json()


name_list = []
describe = []
link = []
rank = []
reported_rank = []
curr = []
mar = []
active = []
updated = []

for i in exchange_json:
    name = i['name']
    name_list.append(name)
    
    d = i['description']
    describe.append(d)
    
    l = i['links']
    link.append(l)
    
    r = i['adjusted_rank']
    rank.append(r)
    
    ra = i['reported_rank']
    reported_rank.append(ra)
    
    c = i['currencies']
    curr.append(c)
    
    m = i['markets']
    mar.append(m)
    
    a = i['active']
    active.append(a)
    
    u = i['last_updated']
    updated.append(u)

In [3]:
##Prepares the data from the API to be stored in database. JSON ---> Python lists
#Tickers

url = "https://coinpaprika1.p.rapidapi.com/tickers"

headers = {
    'x-rapidapi-host': "coinpaprika1.p.rapidapi.com",
    'x-rapidapi-key': "5a962397c6mshe16c836bbeb665ap10f010jsn9acd3c2af9da"
    }

ticker = requests.request("GET", url, headers=headers)

ticker_json = ticker.json()

name_l = []
rank_l = []
circulating_supply = []
total_supply = []
max_supply = []
quotes = []
id = []

for i in ticker_json:
    name = i['name']
    name_l.append(name)
    
    r = i['rank']
    rank_l.append(r)
    
    c = i['circulating_supply']
    circulating_supply.append(c)
    
    t = i['total_supply']
    total_supply.append(t)
    
    m = i['max_supply']
    max_supply.append(m)
    
    q = i['quotes']
    quotes.append(q)
    
    z = i['id']
    id.append(z)

In [4]:
##Start putting data into Database Using SQL

In [5]:
#https://python-tricks.com/python-mysql-database/

import pymysql

db = pymysql.connect(
  user = 'root',
  password = 'root',
  host = 'localhost',
  database = 'cryptocurrency')

cur = db.cursor()

In [53]:
## CREATING ACTIVE TABLE

# cur.execute("DROP TABLE IF EXISTS Active")
# cur.execute("CREATE TABLE Active (active VARCHAR(10), active_id INTEGER PRIMARY KEY)")

# cur.execute("INSERT INTO Active (active, active_id) VALUES ('yes', 1)")
# cur.execute("INSERT INTO Active (active, active_id) VALUES ('no', 0)")
# db.commit()

In [54]:
##CREATING EXCHANGE TABLE

cur.execute("DROP TABLE IF EXISTS Exchange")
cur.execute("CREATE TABLE Exchange (id INTEGER NOT NULL AUTO_INCREMENT, PRIMARY KEY (id), name VARCHAR(100), description VARCHAR(5000), links VARCHAR(1000), adjusted_rank VARCHAR(10), reported_rank VARCHAR(10), currencies VARCHAR(10), markets VARCHAR(10), price VARCHAR(1000), active_id INTEGER, CONSTRAINT FOREIGN KEY (active_id) REFERENCES Active (active_id) ON DELETE CASCADE ON UPDATE CASCADE, last_updated VARCHAR(25))")

0

In [55]:
#In order to get the price of the currency, I had to loop through the quotes and create a new list with the values I wanted 
price_list = []
for i in quotes:
    price = (i['USD']['price'])
    price_list.append(price)
    
site = []
for i in link: 
    try:
        web = (i['website'])
        site.append(web)
    except:
        site.append(' ')
    
##INSERTING INTO EXCHANGE TABLE
for i in range(len(name_list)):
    cur.execute("INSERT INTO Exchange(name, description, links, adjusted_rank, reported_rank, currencies, markets, price, active_id, last_updated) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", (name_list[i], describe[i], (site[i][0]), rank[i], reported_rank[i], curr[i], mar[i], price_list[i], active[i], updated[i]))
    db.commit()

In [6]:
##Creating the table for the ticker call 

cur.execute("DROP TABLE IF EXISTS Ticker")
cur.execute("CREATE TABLE Ticker (id_num INTEGER NOT NULL AUTO_INCREMENT, PRIMARY KEY (id_num), ticker_id VARCHAR(100), name VARCHAR(100), rank BIGINT, circulating_supply BIGINT, total_supply BIGINT, max_supply BIGINT)")

0

In [7]:
## INSERTING INTO TICKER TABLE

for i in range(len(name_l)):
    cur.execute("INSERT INTO Ticker(name, ticker_id, rank, circulating_supply, total_supply, max_supply) VALUES( %s, %s, %s, %s, %s, %s)", (name_l[i], id[i], rank_l[i], circulating_supply[i], total_supply[i], max_supply[i]))
    db.commit()

In [80]:
##Practicing differnt SQL commands
#All SQL commands written here are then transferred over to MAMP (MYPHPAdmin) so that I can see the result
# Practice merging
cur.execute('SELECT Exchange.name, Exchange.price, Ticker.circulating_supply, Ticker.total_supply FROM Exchange INNER JOIN Ticker ON Exchange.name = Ticker.name')

30

In [82]:
##Commands practiced comes from: https://www.analyticsvidhya.com/blog/2020/07/8-sql-techniques-data-analysis-analytics-data-science/
cur.execute('select count(*) from Exchange')

1

In [83]:
## Analytics using SQL 

cur.execute('select distinct markets from Exchange')

133

In [6]:
## Practice with basic statistics queries with SQL

cur.execute('select sum(max_supply) from Ticker')
cur.execute('select avg(max_supply) from Ticker')
cur.execute('select stddev(max_supply) from Ticker')
cur.execute('select max(max_supply) from Ticker')
cur.execute('select min(max_supply) from Ticker')

1

In [ ]:
## Practice making queries to slice data

cur.execute('select name from Exchange where price between 5 and 50 and reported_rank < 100')
cur.execute('select ticker_id from Ticker where rank < 5')

In [6]:
## Creating a new table that is based upon the id's from the query: select ticker_id from Ticker where rank < 5

url = "https://coinpaprika1.p.rapidapi.com/coins/btc-bitcoin/events"

headers = {
    'x-rapidapi-host': "coinpaprika1.p.rapidapi.com",
    'x-rapidapi-key': "5a962397c6mshe16c836bbeb665ap10f010jsn9acd3c2af9da"
    }

btc = requests.request("GET", url, headers=headers).json()

url = "https://coinpaprika1.p.rapidapi.com/coins/eth-ethereum/events"

headers = {
    'x-rapidapi-host': "coinpaprika1.p.rapidapi.com",
    'x-rapidapi-key': "5a962397c6mshe16c836bbeb665ap10f010jsn9acd3c2af9da"
    }

eth = requests.request("GET", url, headers=headers).json()

url = "https://coinpaprika1.p.rapidapi.com/coins/xrp-xrp/events"

headers = {
    'x-rapidapi-host': "coinpaprika1.p.rapidapi.com",
    'x-rapidapi-key': "5a962397c6mshe16c836bbeb665ap10f010jsn9acd3c2af9da"
    }

xrp = requests.request("GET", url, headers=headers).json()

url = "https://coinpaprika1.p.rapidapi.com/coins/usdt-tether/events"

headers = {
    'x-rapidapi-host': "coinpaprika1.p.rapidapi.com",
    'x-rapidapi-key': "5a962397c6mshe16c836bbeb665ap10f010jsn9acd3c2af9da"
    }

usdt = requests.request("GET", url, headers=headers).json()

In [7]:
##Creating and populating table for Bitcoin

ids = []
dates = []
names = []
describes = []
lin = []

for i in btc:
    a = i['id']
    ids.append(a)
    
    b = i['date']
    dates.append(b)
    
    c = i['name']
    names.append(c)
    
    d = i['description']
    describes.append(d)
    
    e = i['link']
    lin.append(e)
    
cur.execute("DROP TABLE IF EXISTS Bitcoin")
cur.execute("CREATE TABLE Bitcoin (id VARCHAR(100), date VARCHAR(50), name VARCHAR(100), description VARCHAR(1000), link VARCHAR(200))")

for i in range(len(ids)):
    cur.execute("INSERT INTO Bitcoin(id, date, name, description, link) VALUES( %s, %s, %s, %s, %s)", (ids[i], dates[i], names[i], describes[i], lin[i]))
    db.commit()

In [8]:
##Creating and populating table for Ethereum

ids = []
dates = []
names = []
describes = []
lin = []

for i in eth:
    a = i['id']
    ids.append(a)
    
    b = i['date']
    dates.append(b)
    
    c = i['name']
    names.append(c)
    
    d = i['description']
    describes.append(d)
    
    e = i['link']
    lin.append(e)
    
cur.execute("DROP TABLE IF EXISTS Ethereum")
cur.execute("CREATE TABLE Ethereum (id VARCHAR(100), date VARCHAR(50), name VARCHAR(100), description VARCHAR(1000), link VARCHAR(200))")

for i in range(len(ids)):
    cur.execute("INSERT INTO Ethereum(id, date, name, description, link) VALUES( %s, %s, %s, %s, %s)", (ids[i], dates[i], names[i], describes[i], lin[i]))
    db.commit()

In [9]:
##Creating and populating table for Xrp

ids = []
dates = []
names = []
describes = []
lin = []

for i in xrp:
    a = i['id']
    ids.append(a)
    
    b = i['date']
    dates.append(b)
    
    c = i['name']
    names.append(c)
    
    d = i['description']
    describes.append(d)
    
    e = i['link']
    lin.append(e)
    
cur.execute("DROP TABLE IF EXISTS Xrp")
cur.execute("CREATE TABLE Xrp (id VARCHAR(100), date VARCHAR(50), name VARCHAR(100), description VARCHAR(1000), link VARCHAR(200))")

for i in range(len(ids)):
    cur.execute("INSERT INTO Xrp(id, date, name, description, link) VALUES( %s, %s, %s, %s, %s)", (ids[i], dates[i], names[i], describes[i], lin[i]))
    db.commit()

In [10]:
##Creating and populating table for Tether, Unfortunatly empty

ids = []
dates = []
names = []
describes = []
lin = []

for i in usdt:
    a = i['id']
    ids.append(a)
    
    b = i['date']
    dates.append(b)
    
    c = i['name']
    names.append(c)
    
    d = i['description']
    describes.append(d)
    
    e = i['link']
    lin.append(e)
    
cur.execute("DROP TABLE IF EXISTS Tether")
cur.execute("CREATE TABLE Tether (id VARCHAR(100), date VARCHAR(50), name VARCHAR(100), description VARCHAR(1000), link VARCHAR(200))")

for i in range(len(ids)):
    cur.execute("INSERT INTO Tether(id, date, name, description, link) VALUES( %s, %s, %s, %s, %s)", (ids[i], dates[i], names[i], describes[i], lin[i]))
    db.commit()

In [ ]:
cur.execute("select * from Exchange limit 10")
cur.execute("select * from Exchange limit 10 offset 4")

cur.execute("select * from Ticker order by total_supply")
cur.execute("select * from Ticker order by total_supply desc limit 15")

cur.execute('select * from Ticker where ticker_id like "%coin"')